.avatar {
  border-radius: 50% !important;
  width: 120px;
  height: 120px;
}

.form {
  background-color: #f0f0f0;
}

.bg-header {
  background-color: #6697c8;
}

.instructions {
  background-color: #feffe3;
}

.colors-footer {
  background-color: #fff !important;
}

.color-1 {
  background-color: #6697c8;
}

.color-2 {
  background-color: #ff0b0b;
}

.color-3 {
  background-color: #f0f0f0;
}

.color-4 {
  background-color: #ff9900;
}

.color-5 {
  background-color: #2cd078;
}

.color-6 {
  background-color: #feffe3;
}
